@font-face {
  font-family: 'Pier';
  src: url('./fonts/pier-regular.otf');
}

@font-face {
  font-family: 'PierBold';
  src: url('./fonts/pier-bold.otf');
}
@font-face {
  font-family: 'NotoSans';
  src: url('./fonts/NotoSans-Regular.ttf');
}
@font-face {
  font-family: 'NotoSansBold';
  src: url('./fonts/NotoSans-Bold.ttf');
}
@font-face {
  font-family: 'NotoSansItalic';
  src: url('./fonts/NotoSans-Italic.ttf');
}
body {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  margin: 0;
  background: #fff;
  color: #3C3C3C;
  overflow: hidden;
  font-family: 'NotoSans', 'Helvetica', sans-serif;
  font-size: 16px;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

p {
  line-height: 10px;
}

strong {
  /*font-size: 12px;*/
  font-variant: normal;
  font-family: 'NotoSansBold';
  font-style: normal;
}

#intro {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  margin: auto;
  margin-top: 120px;
  text-align: center;
  width: 100%;
  height: 100%;
}

#intro-card {
  display: table-cell;
  vertical-align: middle;
}

#hero-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header {
  font-family: 'PierBold';
  font-size: 70px;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 100px;
}

.subheader {
  font-family: 'Pier';
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  margin-top: -15px;
  position: relative;
}

a, a:active, .info:visited {
  font-family: 'PierBold';
  text-decoration: none;
  color: #929292;
  display: inline-block;
  /*z-index: 10;*/
  position: relative;
}
a:hover {
  color: #3C3C3C;
}
a::after, a:hover::after {
  content: ' ';
  width: 100%;
  left: 0;
  background: #3C3C3C;
  position: absolute;
  -webkit-transition: all 0.05s ease-out;
  -moz-transition: all 0.05s ease-out;
  -ms-transition: all 0.05s ease-out;
  -o-transition: all 0.05s ease-out;
  transition: all 0.05s ease-out;
}
a::after {
  height: 0px;
  bottom: 0px;
}
a:hover::after {
  height: 4px;
  bottom: -4px;
}

.subtext {
  font-size: 12px;
  /*display: inline-block;
  width: 250px;
  line-height: 15px;*/
}

.logo-container {
  position: absolute;
  bottom: 20px;
  text-align: center;
  margin: auto;
  width: 100%;
}

.logo {
  /*position: relative;*/
  width: 50px;
  height: 50px;
  display: inline-block;
  background-repeat: none;
  background-size: 50px 50px;
  background-image: url('./svg/dolby.svg');
}

.track-aligner, .header-aligner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  margin: auto;
  text-align: center;
}

.track-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.track-number {
  display: block;
  text-transform: uppercase;
  font-family: 'Pier';
  margin-left: 5px;
  font-size: 14px;
}

.track-name {
  font-family: 'PierBold';
  display: inline-block;
  font-size: 50px;
  display: inline-block;
  letter-spacing: -2px;
  text-transform: uppercase;
  line-height: 60px;
}

.track-name-hint {
  font-family: 'PierBold';
  display: block;
  position: relative;
  top: 12px;
  /*padding-top: 20px;*/
  /*line-height: 32px;*/
  font-size: 14px;
  text-transform: uppercase;
  /*le*/
}

.volume-icon, .song-icon {
  padding: 0;
  margin: 0;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  display: inline-block;
  background-repeat: none;
  -webkit-animation: flickerAnimation 1.5s infinite;
  -moz-animation: flickerAnimation 1.5s infinite;
  -o-animation: flickerAnimation 1.5s infinite;
  animation: flickerAnimation 1.5s infinite;
}

.volume-icon {
  background-image: url('./svg/headphones.svg');
}
.song-icon {
  background-image: url('./svg/musical-note.svg');
}

.spacebar {
  position: relative;
  z-index: 1;
  font-family: 'Courier', monospace;
  padding: 9px 10px 9px 9px;
  margin: 0px 4px;
}

.spacebar:before {
  display: inline;
  content: ' ';
  /*background: #dddddd;*/
  border-radius: 3px;
  box-sizing: border-box;
  border: 2px solid #3C3C3C;
  opacity: 0.2;
  width: 100%;
  z-index: -10;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.disable-pointer {
  pointer-events: none;
}
.enable-pointer {
  pointer-events: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.intro-1a, .intro-1b, .intro-2, .intro-3 {
  display: none;
}

@keyframes flickerAnimation {
  0%   { transform: scale(1.0); }
  10%  { transform: scale(0.85); }
  100% { transform: scale(1.0); }
}
@-o-keyframes flickerAnimation{
  0%   { transform: scale(1.0); }
  10%  { transform: scale(0.85); }
  100% { transform: scale(1.0); }
}
@-moz-keyframes flickerAnimation{
  0%   { transform: scale(1.0); }
  10%  { transform: scale(0.85); }
  100% { transform: scale(1.0); }
}
@-webkit-keyframes flickerAnimation{
  0%   { transform: scale(1.0); }
  10%  { transform: scale(0.85); }
  100% { transform: scale(1.0); }
}

.track-aligner { display: none; }
/*.logo-container { display: none; }
.header-container { display: none; }*/

@media only screen and (max-height: 490px) {
  .logo-container {
    bottom: initial;
    top: 20px;
  }
  .volume-icon, .song-icon {
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
  }
  
  .header {
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0px;
  }
  .subheader {
    font-size: 10.5px;
  }
  
  #intro {
    margin-top: 110px;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0px;
  }
  .subheader {
    font-size: 9.5px;
  }
}
